* {
	box-sizing: border-box;
}

body {
	font-family: Helvetica, Arial, sans-serif;
	margin: 5vw;
}

.wrapper {
	max-width: 700px;
	margin: 0 auto;
}

.button {
	display: inline-block; 
	background: black;
	padding: .8rem 1rem;
	color: white;
	text-decoration: none;
}

.big-text {
	font-size: 10vw;
	font-weight: 900;
}